<h2>Add New Style</h2>

<form action="/create" method="POST" id="generate">
  <label><strong>Style title: </strong><br /><input type="text" id="title"/></label>
  <label><strong>Description: </strong><br /></label><textarea rows="5" cols="75" id="description"></textarea>
  <label><strong>HTML: </strong><br /></label><textarea rows="10" cols="75" id="html"></textarea>
  <br />
<input type="submit" value="Submit" id="button" class="button">
</form>

<br /><hr/><br />
<div><pre id="generatedYaml"></pre></div>


<script>
jQuery(document).ready(function() {
  jQuery('#generate').submit( function(event){
    event.preventDefault();
    var url = jQuery(this).attr('action');
    var data = {
      title: jQuery('#title').val(),
      description: jQuery('#description').val(),
      html: jQuery('#html').val(),
    };
    console.log(data);
    jQuery.ajax({
      method: "POST",
      url: url,
      data: data
    })
      .done(function (result) {
        jQuery('#generatedYaml').html(result);
        jQuery('#button').attr('disabled', false);
      });

  });
});
</script>
