<h1>WhichStyle - StyleGuide Home</h1>

<h2>Styles</h2>
<div style="width:100%;"><span style="float:right;"><a href="/create">Add new style</a></span></div>
<br />
{{#fileList}}<div style="width: 20%; float:left;"><a href="/guide/{{.}}">{{.}}</a></div> {{/fileList}}
{{^fileList}}No styles currently available{{/fileList}}
